<div class="row sa-row">
    <div class="notice-box-main">
        <div class="notice-box-content">
            <div class="notice-box-item"
                 ng-repeat="item in noticeBox"
                 ng-class="item.readTag?'notice'+item.noticeId:'unread notice'+item.noticeId"
                 ng-click="toggleNotice('notice'+item.noticeId);setReadTag(item.noticeId)">
                <div class="notice-title">
                    {{item.noticeTitle}}
                </div>
                <div class="notice-condition">
                    展开
                    <div class="closed-block">
                        <div></div>
                    </div>
                </div>
                <div class="notice-detail">
                    <div class="notice-detail-publisher">
                        {{item.noticeAnnouncerName}}
                    </div>
                    <div class="notice-detail-time">
                        2017-11-08
                    </div>
                    <hr>
                    <div class="notice-detail-content">
                        {{item.noticeContent}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>